---
import type { Project } from "../data/projects";

interface Props {
  project: Project;
}

const { project } = Astro.props;
---

<article>
  <h3>{project.title}</h3>
  <p>{project.hook}</p>

  <h4>Design breakdown</h4>
  <dl>
    <dt>Mechanic</dt>
    <dd>{project.designBreakdown.mechanic}</dd>
    <dt>System</dt>
    <dd>{project.designBreakdown.system}</dd>
    <dt>What I'd change</dt>
    <dd>{project.designBreakdown.whatIdChange}</dd>
  </dl>

  {
    project.links.length > 0 && (
      <ul>
        {project.links.map((link) => (
          <li>
            <a href={link.href}>{link.label}</a>
          </li>
        ))}
      </ul>
    )
  }
</article>
